@model Makale_Entities.Kullanici

@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/validationCss.css" rel="stylesheet" />  


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    
    <div class="col-md-8 col-md-offset-2">
        <div class="form-horizontal">
            <h2>Kullanıcı Düzenle</h2>
            
            <hr />
            @Html.ValidationSummary(false)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Soyad, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.KullaniciAdi, htmlAttributes: new { @class = "control-label" })

                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })

                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ProfilResimDosyaAdi, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProfilResimDosyaAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProfilResimDosyaAdi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.aktif, htmlAttributes: new { @class = "control-label" })
                </div>

                <div class="checkbox col-md-10">
                    @Html.EditorFor(model => model.aktif)
                    @Html.ValidationMessageFor(model => model.aktif, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.AktifGuid, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AktifGuid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AktifGuid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Admin, htmlAttributes: new { @class = "control-label" })

                </div>

                <div class="checkbox col-md-10">
                    @Html.EditorFor(model => model.Admin)
                    @Html.ValidationMessageFor(model => model.Admin, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.KayitTarihi, htmlAttributes: new { @class = "control-label" })
                </div>

                <div class="col-md-10">
                    @Html.EditorFor(model => model.KayitTarihi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KayitTarihi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.DegistirmeTarihi, htmlAttributes: new { @class = "control-label" })

                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DegistirmeTarihi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DegistirmeTarihi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.DegistirenKullanici, htmlAttributes: new { @class = "control-label" })

                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DegistirenKullanici, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DegistirenKullanici, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                    @Html.ActionLink("Kullanıcılar", "Index", null, new {@class= "btn btn-info"})
                </div>
            </div>
        </div>

    </div>

}

<div>

</div>
