@model IEnumerable<Makale_Entities.Kullanici>

@{
    ViewBag.Title = "Kullanıcılar";
}


<div class="row col-md-10 col-md-offset-1"   >
    <h2>Kullanıcılar</h2>

    <p>
        @Html.ActionLink("Yeni Kullanıcı", "Create", null, new { @class = "btn btn-success btn-xs" })
    </p>

    <table class="table  ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfilResimDosyaAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Sifre)
        </th>*@

            <th>
                @Html.DisplayNameFor(model => model.aktif)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.AktifGuid)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KayitTarihi.Year)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.DegistirmeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegistirenKullanici)
        </th>*@
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.ProfilResimDosyaAdi)*@
                <img src="~/Resim/@item.ProfilResimDosyaAdi "width="30" height="25" class="xs"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.aktif)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.AktifGuid)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KayitTarihi.Year)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.DegistirmeTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DegistirenKullanici)
        </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


</div>

