@helper LinkButton(string url,string id, string color,string btncss,string icon, string text)
    {
        //string url = "/" + controler + "/" + action + "/" + _id;
        <a href="@url" id="@id" name="@id" class="btn btn-@color @btncss"><span class="glyphicon glyphicon-@icon small"></span> @text</a>
    
    }

@helper Button(string typ, string id, string color, string css, string icon,string text)
    {
        <button type="@typ" id=" @id"name="@id"class="btn btn-@color @css"><span class="glyphicon glyphicon-@icon small"></span> @text </button>
    
    }