
@{
    ViewBag.Title = "Kayıt";
}
@using Makale_Entities
@model Makale_Entities.ViewModel.RegisterModel
<link href="~/Content/login.css" rel="stylesheet" />
<link href="~/Content/validationCss.css" rel="stylesheet" />
<h2>Kayıt</h2>
@using (Html.BeginForm())
{
    <section class="login-info">
        <div class="container">
            <div class="row main">
                <div class="form-header">
                    <h1 class="text-center ">Register Form </h1>
                </div>
                <div class="main-content">
                    @Html.ValidationSummary(false) @*tepede hataların çıkması için*@
                    <div class="input-group ">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>

                        @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>

                        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control",id= "txtsifre", placeholder = "Şifre" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>

                        @Html.TextBoxFor(x => x.Sifre2, new { @class = "form-control ",id= "txtsifretekrar", placeholder = "Şifre(Tekrar)" })
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>

                        @Html.TextBoxFor(x => x.email, new { @class = "form-control", placeholder = "E-posta" })
                    </div>
                    <div class="checkbox">
                        <label class="goster" >
                            <input name="goster" type="checkbox" id="sifregoster"> Şifreyi Göster
                        </label>
                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-danger btn-lg btn-block login-button">Giriş</button>
                    </div>



                </div>
            </div>
        </div>
    </section>

}

<script >

    $("#sifregoster").change(function () {
        var passwordInput = $("#txtsifre");
        var passwordInputtekrar = $("#txtsifretekrar");
        var isChecked = $(this).is(":checked");
        passwordInput.prop("type", isChecked ? "password" : "text");
        passwordInputtekrar.prop("type", isChecked ? "password" : "text");
    });

    

</script>
